[Desktop Entry]
Version=1.0
Type=Application
Name=Google Sheets
Exec=webapp-launcher %u
Hotkey=Super+Shift+H
Profile=Profile 2
Class=chrome-app.docs.google.com__spreadsheets_-Profile_2
URL=https://docs.google.com/spreadsheets/